#container{
	width:700px;
	padding:10px 10px 10px 10px;
}

#grid{
	width:600px;
	margin-top:10px;
}
#cbox_container{
	width:150px;
	position:absolute;
	right:255px;
	top:0px;
	z-index:101;
}
#radio_container{
	width:150px;
	position:absolute;
	right:300px;
	top:60px;
	z-index:100;
}
#textfield_container{
	width:300px;
	position:absolute;
	right:0px;
}
#numfield_container{
	width:300px;
	position:absolute;
	right:0px;
	top:80px;
}
#button_footer{
	height:50px;
	left:10px;
	width:130px;
	position:absolute;
	top:130px;
}
#button_footer img{
	padding-top:5px;
}
#record1div{
	position:relative;
	float:left;
	width:600px;
	height:170px;
	top:0px;
	border:1px solid black;
}
#grid_header{
	width:600px;
	height:100px;
	margin-top:5px;	
}
#grid_lbl{
	width:200px;
	float:left;
}
.inputbox{
	margin:5px 5px 5px 5px;
	float:right;
}
.formlabel{
	float:left;
	margin-left:10px;
}